@mixin header {
  background-color: var(--color-primary-bg-light);
  padding: 0 var(--safe-zone);

  &__wrapper {
    position: relative;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr auto;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 16px 0;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__logo {
    a {
      display: block;
      width: 7%;
      min-width: 60px;
      position: absolute;
      left: 0;
      border-radius: 2px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  &__navigation {
    justify-self: flex-end;
    align-self: center;

    @media screen and (min-width: 768px) {
      justify-self: center;
    }
    &-toggle {
      all: revert;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      min-height: 48px;
      min-width: 48px;
      border: 2px solid var(--btn-primary-bg);
      border-radius: 2px;
      color: var(--white);
      svg {
        fill: var(--white);
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &-items {
      align-items: center;
      gap: 16px;
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }

    a {
      color: var(--gray-2);
      text-decoration: none;
      border-radius: 2px;
      font-weight: 500;
      &.active {
        color: var(--color-primary-dark);
      }
    }
  }

  &__meta {
    justify-self: end;
    display: flex;
    gap: 12px;

    .cart-link {
      img {
        display: block;
        height: auto;
      }
    }

    .cart-link {
      position: relative;
    }

    .item-amount {
      opacity: 0;
      transform: scale3d(0, 0, 0);
      position: absolute;
      text-align: center;
      line-height: 1;
      font-weight: 500;
      border: 1px solid var(--white);
      color: var(--white);
      background-color: var(--color-accent-bg);
      border-radius: 50%;
      transition:
        opacity var(--transition-fast),
        transform var(--transition-fast);
      &.-visible {
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
