@mixin offers {
  background-color: var(--white);
  padding: 0 var(--safe-zone);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 40px;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  &__heading {
    text-align: center;
    font-weight: 500;
    color: var(--color-text-heading);
  }

  &__text {
    text-align: center;
    color: var(--color-text);
    max-width: 600px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
    @media screen and (min-width: 480px) {
      flex-direction: row;
    }
  }
  &__item-wrapper {
    background-color: var(--gray-1);
    border-radius: 16px;
    box-shadow: var(--box-shadow-mid);
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 300px;
    border-radius: 16px;
    padding: 16px;
    height: 100%;
    text-decoration: none;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__item-heading {
    text-align: center;
    font-weight: bold;
    color: var(--black);
  }

  &__item-text {
    text-align: center;
    color: var(--gray-10);
    span {
      font-style: italic;
    }
  }

  &__item-price {
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
  }
}
