@use "../../global" as *;
.button {
  font-size: 1.125rem;
  color: var(--btn-primary-label);
  transition: background-color 0.2s ease-out;
  @include button-styles;
  &:hover {
    background-color: var(--color-primary);
  }
  &.-small {
    font-size: toRem(16);
  }
}
