@use "../../global" as *;

.collab {
  @include collab;

  &__heading {
    font-size: toRem(50);
  }

  &__text {
    font-size: toRem(20);
    color: var(--gray-6);

    &-cite {
      color: var(--gray-10);
      font-size: toRem(16);
    }
  }
}
