@use "../../global" as *;

.offers {
  @include offers;

  &__heading {
    font-size: toRem(50);
  }

  &__text {
    font-size: toRem(20);
  }

  &__item {
    position: relative;
    transition: var(--transition-slow);
    &:hover {
      background-color: var(--color-primary-superlight);
    }
  }

  &__item-overlay {
    position: absolute;
    inset: 0;
    border-radius: 16px;
    &:focus-visible {
      outline: none;
    }
  }

  &__item-heading {
    font-size: toRem(18);
  }

  &__item-text {
    font-size: toRem(16);
    line-height: 1.5;
    span {
      color: var(--gray-6);
    }
  }

  &__item-price {
    font-size: toRem(20);
  }
}
