@use "../../global" as *;

.offers {
  @include offers;

  &__heading {
    font-size: toRem(50);
  }

  &__text {
    font-size: toRem(20);
  }

  &__item {
    position: relative;
    transition: background-color var(--transition-slow);
    &:hover {
      background-color: var(--color-primary-superlight);
    }
  }

  &__item-overlay {
    border-radius: 16px;
  }

  &__item-heading {
    font-size: toRem(18);
  }

  &__item-text {
    font-size: toRem(16);
    span {
      color: var(--gray-6);
      font-size: toRem(14);
    }
  }

  &__item-price {
    font-size: toRem(20);
  }
}
