@use "../../global" as *;

.teaser {
  @include teaser;

  &__heading {
    font-size: toRem(64);
  }

  &__sizes-heading {
    font-size: toRem(20);
  }

  &__sizes-group {
    label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(18);
      padding: 10px;
      min-height: 48px;
      min-width: 48px;
      color: black;
      background-color: var(--gray-1);
      cursor: pointer;
      transition:
        background-color var(--transition-fast),
        color var(--transition-fast);
    }

    input {
      &:focus-visible + label {
        outline: 2px solid var(--color-accent-light);
        outline-offset: 2px;
      }

      &:checked + label {
        background-color: var(--color-primary-dark);
        color: var(--white);
      }

      &[aria-disabled="true"] + label {
        position: relative;
        color: var(--gray-6);
        cursor: not-allowed;
        pointer-events: none;
        &:before {
          content: "";
          position: absolute;
          inset: 0;
          width: 2px;
          background-color: var(--gray-6);
          left: 50%;
          rotate: 45deg;
        }
      }
      &:not([aria-disabled="true"], :checked) + label:hover {
        background-color: var(--color-primary);
        color: var(--white);
      }
    }
  }

  &__price-old {
    color: var(--color-primary-light);
    font-size: toRem(20);
  }

  &__price-new {
    font-size: toRem(36);
  }

  .button {
    &[aria-disabled="true"] {
      background-color: var(--gray-6);
      color: var(--white);
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__cart {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    &-hint {
      font-size: toRem(16);
      color: var(--color-accent-light);
      display: flex;
      gap: 4px;

      &.-invalid {
        &::before {
          content: "!" / "";
          color: var(--color-accent-light);
        }
        color: var(--color-accent-light);
      }
      &.-valid {
        &::before {
          content: "✓" / "";
          color: var(--color-success);
        }
        color: var(--color-success);
      }
    }
  }
}
