<div class="collab">
  <div class="collab__wrapper">
    <div class="collab__signature">
      <img src="./assets/img/signature.png" alt="signature.png" />
    </div>
    <div class="collab__heading">Hiroshi Fujiwara's Fragment Collaboration with Mike</div>
    <div class="collab__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa molestiae maiores cum dicta quia, sunt vel
      reprehenderit, dolorem quo dolor eos delectus consectetur inventore animi, repellendus magnam voluptates?
      Adipisci, suscipit!
    </div>
  </div>
</div>
