<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__copyright">Copyright © Mike Shoes - all rights reserved 2024</div>
    <div class="footer__social">
      <a href="#">
        <img src="./assets/icons/facebook.svg" alt="" />
      </a>
      <a href="#">
        <img src="./assets/icons/twitterx.svg" alt="" />
      </a>
      <a href="#">
        <img src="./assets/icons/instagram.svg" alt="" />
      </a>
      <a href="#">
        <img src="./assets/icons/youtube.svg" alt="" />
      </a>
    </div>
    <div class="footer__service"><a href="#">Help</a>/<a href="#">Service</a></div>
  </div>
</div>
