<div class="footer">
  <div class="footer__wrapper">
    <div class="footer__grid">
      <div class="footer__grid-item">
        <div class="footer__heading">Shop</div>
        <div class="footer__list">
          <a href="#">Men's</a>
          <a href="#">Women's</a>
          <a href="#">Kid's</a>
          <a href="#">Sports</a>
          <a href="#">Liefstyle</a>
        </div>
      </div>
      <div class="footer__grid-item">
        <div class="footer__heading">About</div>
        <div class="footer__list">
          <a href="#">About us</a>
          <a href="#">Contact</a>
          <a href="#">Store locator</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
      <div class="footer__grid-item">
        <div class="footer__heading">Help</div>
        <div class="footer__list">
          <a href="#">FAQ</a>
          <a href="#">Shipping</a>
          <a href="#">Returns and exchanges</a>
          <a href="#">Size guide</a>
          <a href="#">Gift cards</a>
        </div>
      </div>
      <div class="footer__grid-item">
        <div class="footer__heading">Follow us</div>
        <div class="footer__social">
          <a href="#">
            <img src="./assets/icons/facebook.svg" />
          </a>
          <a href="#">
            <img src="./assets/icons/twitterx.svg" />
          </a>
          <a href="#">
            <img src="./assets/icons/instagram.svg" />
          </a>
          <a href="#">
            <img src="./assets/icons/youtube.svg" />
          </a>
        </div>
      </div>
    </div>
    <div class="footer__copyright">Copyright © Mike Shoes - all rights reserved 2024</div>
  </div>
</div>
<script>
  const footerLinks = document.querySelectorAll(".footer a");
  footerLinks.forEach((footerLink) => {
    footerLink.addEventListener("click", (event) => {
      text = event.target.textContent !== "" ? event.target.textContent : event.target.alt;
      alert(`Navigating to ${text} page 🚀`);
      event.preventDefault();
    });
  });
</script>
