<div class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="#" onclick="javascript: alert('Back to Homepage 🏠'); return false;"
        ><img src="./assets/img/logo.svg" alt="logo"
      /></a>
    </div>
    <div class="header__navigation">
      <button
        type="button"
        class="header__navigation-toggle"
        onclick="javascript: alert('Burger Menu 🍔'); return false;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="32px" width="32px">
          <path
            d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
          />
        </svg>
      </button>
      <div class="header__navigation-items">
        <a href="#" class="active">Men's</a>
        <a href="#">Women's</a>
        <a href="#">Kid's</a>
        <a href="#">Sport</a>
        <a href="#">Sale</a>
      </div>
    </div>
    <div class="header__meta">
      <div class="button login-button" onclick="javascript: alert('Login Dialog 🔐'); return false;">Login</div>
      <div class="button cart-link" onclick="javascript: alert('Link to Shopping Cart Site 🛒'); return false;">
        <img src="./assets/icons/cart.svg" />
        <span role="status" class="item-amount" id="item-amount">0</span>
      </div>
    </div>
  </div>
</div>
<script>
  const navLinks = document.querySelectorAll(".header__navigation-items a");
  navLinks.forEach((navLink) => {
    navLink.addEventListener("click", (event) => {
      text = event.target.textContent;
      alert(`Navigating to ${text}`);
      event.preventDefault();
    });
  });
</script>
