<div class="offers">
  <div class="offers__wrapper">
    <div class="offers__heading">Other great shoes</div>
    <div class="offers__text">
      Step into greatness with our diverse range of <b>sports shoes</b>, designed for peak performance and ultimate
      comfort. Don't just play the game, dominate it with our superior footwear collection.
    </div>
    <div class="offers__items">
      <a href="#" class="offers__item">
        <div class="offers__item-image">
          <img src="./assets/img/nike-air-max-sideshot.webp" alt="nike-air-max-sideshot.webp" />
        </div>
        <div class="offers__item-heading">Mike Air Max - Gold Edition</div>
        <div class="offers__item-text">
          This special edition was designed in year 2008 by John Sinclair <br /><span>(24 left in Stock)</span>
        </div>
        <div class="offers__item-price">199.- €</div>
      </a>
      <a href="#" class="offers__item">
        <div class="offers__item-image">
          <img src="./assets/img/nike-air-jordan-sideshot.webp" alt="nike-air-jordan-sideshot.webp" />
        </div>
        <div class="offers__item-heading">Mike Air Jordan</div>
        <div class="offers__item-text">The classic among shoes <br /><span>(8 left in Stock)</span></div>
        <div class="offers__item-price">169.- €</div>
      </a>
      <a href="#" class="offers__item">
        <div class="offers__item-image">
          <img src="./assets/img/nike-free-airforce-sideshot.webp" alt="nike-free-airforce-sideshot.webp" />
        </div>
        <div class="offers__item-heading">Mike Air Max - Pink Edition</div>
        <div class="offers__item-text">
          Pretty in pink, this special edition was designed for Paris fashion show <br /><span>(12 left in Stock)</span>
        </div>
        <div class="offers__item-price">139.- €</div>
      </a>
    </div>
  </div>
</div>
<script>
  const offerLinks = document.querySelectorAll(".offers__item");
  offerLinks.forEach((offerLink) => {
    offerLink.addEventListener("click", (event) => {
      text = offerLink.querySelector(".offers__item-heading").textContent;
      alert(`Navigating to ${text} detail page 👟`);
      event.preventDefault();
    });
  });
</script>
