<div class="offers">
  <div class="offers__wrapper">
    <div class="offers__heading">Other great shoes</div>
    <div class="offers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</div>
    <div class="offers__items">
      <div class="offers__item">
        <div class="offers__item-image">
          <a href="#"><img src="./assets/img/nike-air-max-sideshot.png" alt="nike-air-max-sideshot.png" /></a>
        </div>
        <div class="offers__item-heading">Mike Air Max - Gold Edition</div>
        <div class="offers__item-text">
          Delectus atque dignissimos illo obcaecati placeat <br /><span>(24 left in Stock)</span>
        </div>
        <div class="offers__item-price">199.- €</div>
        <button type="button" class="button -small">Add to cart</button>
      </div>
      <div class="offers__item">
        <div class="offers__item-image">
          <a href="#"><img src="./assets/img/nike-air-jordan-sideshot.png" alt="nike-air-jordan-sideshot.png" /></a>
        </div>
        <div class="offers__item-heading">Mike Air Jordan</div>
        <div class="offers__item-text">Lorem ipsum dolor sit amet <br /><span>(8 left in Stock)</span></div>
        <div class="offers__item-price">169.- €</div>
        <button type="button" class="button -small">Add to cart</button>
      </div>
      <div class="offers__item">
        <div class="offers__item-image">
          <a href="#"
            ><img src="./assets/img/nike-free-airforce-sideshot.png" alt="nike-free-airforce-sideshot.png"
          /></a>
        </div>
        <div class="offers__item-heading">Mike Air Max - Pink Edition</div>
        <div class="offers__item-text">
          Illum ex possimus corrupti aspernatur provident <br /><span>(12 left in Stock)</span>
        </div>
        <div class="offers__item-price">139.- €</div>
        <button type="button" class="button -small">Add to cart</button>
      </div>
    </div>
  </div>
</div>
