<div class="special">
  <div class="special__wrapper">
    <div class="special__content">
      <div class="special__heading">
        Hiroshi Fujiwara's<br />
        x Mike
      </div>
      <div class="special__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</div>
      <div><a href="#" class="button special__link">Watch the Video</a></div>
    </div>
    <div class="special__image">
      <img src="./assets/img/nike-air-presto.png" />
    </div>
  </div>
</div>
