<div class="teaser">
  <div class="teaser__wrapper">
    <div class="teaser__image">
      <img src="./assets/img/teaser_shoe-01.png" />
    </div>
    <div class="teaser__content">
      <div class="teaser__heading">Mike Air Force ONE</div>
      <div class="teaser__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</div>
      <div class="teaser__sizes">
        <h2>Choose size:</h2>
        <div class="teaser__sizes-group">
          <input type="radio" id="size-36" name="size" value="36" />
          <label for="size-36">36</label>
          <input type="radio" id="size-37" name="size" value="37" />
          <label for="size-37">37</label>
          <input type="radio" id="size-38" name="size" value="38" />
          <label for="size-38">38</label>
          <input type="radio" id="size-39" name="size" value="39" disabled />
          <label for="size-39">39</label>
          <input type="radio" id="size-40" name="size" value="40" />
          <label for="size-40">40</label>
          <input type="radio" id="size-41" name="size" value="41" />
          <label for="size-41">41</label>
        </div>
      </div>
      <div class="teaser__price">
        <div class="teaser__price-old">159.- €</div>
        <div class="teaser__price-new">99.- €</div>
      </div>
      <div><button type="button" class="button">Add</button></div>
    </div>
  </div>
</div>
