<div class="teaser">
  <div class="teaser__wrapper">
    <div class="teaser__image">
      <img src="./assets/img/teaser_shoe-01.png" />
    </div>
    <div class="teaser__content">
      <div class="teaser__heading">Mike Air Force ONE</div>
      <div class="teaser__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</div>
      <form class="teaser__rating">
        <input type="radio" id="star1" name="star-input" value="1" />
        <label for="star1">1 star</label>
        <input type="radio" id="star2" name="star-input" value="2" />
        <label for="star2">2 stars</label>
        <input type="radio" id="star3" name="star-input" value="3" checked />
        <label for="star3">3 stars</label>
        <input type="radio" id="star4" name="star-input" value="4" />
        <label for="star4">4 stars</label>
        <input type="radio" id="star5" name="star-input" value="5" />
        <label class for="star5">5 stars</label>
      </form>
      <div class="teaser__price">
        <div class="teaser__price-old">159.- €</div>
        <div class="teaser__price-new">99.- €</div>
      </div>
      <div><a href="#" class="button teaser__link">Read more</a></div>
    </div>
  </div>
</div>
