@use "../../global" as *;

.collab {
  @include collab;

  &__heading {
    font-size: 50px;
  }

  &__text {
    font-size: 20px;
    color: var(--gray-4);
    &-cite {
      color: var(--gray-10);
      font-size: 12px;
    }
  }
}
