@use "../../global" as *;

.header {
  @include header;

  &__logo {
    font-size: 40px;
  }

  &__navigation {
    a {
      font-size: 20px;
    }
  }

  &__meta {
    .cart-link {
      img {
        width: 20px;
      }
    }

    .item-amount {
      top: -6px;
      right: -6px;
      font-size: 14px;
      width: 18px;
      height: 18px;
    }
  }
}
