@use "../../global" as *;

.header {
  @include header;

  &__logo {
    font-size: 40px;
  }

  &__navigation {
    a {
      font-size: 20px;
    }
  }

  &__meta {
    .button {
      img {
        width: 20px;
      }
    }
  }
}
