@use "../../global" as *;

.offers {
  @include offers;

  &__heading {
    font-size: 50px;
  }

  &__text {
    font-size: 20px;
  }

  &__item-heading {
    font-size: 18px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 1;
    span {
      color: var(--gray-4);
    }
  }

  &__item-price {
    font-size: 20px;
  }
}
