@use "../../global" as *;

.teaser {
  @include teaser;

  .teaser__sizes {
    h2 {
      font-size: 20px;
    }
  }

  &__sizes-group {
    input {
      &:checked + label {
        color: var(--gray-6);
      }
      &:disabled + label {
        color: var(--gray-4);
        cursor: not-allowed;
      }
    }
    label {
      font-size: 16px;
    }
  }
}
