@use "../../global" as *;

.teaser {
  @include teaser;

  &__heading {
    font-size: 64px;
  }

  &__sizes-heading {
    font-size: 20px;
  }

  &__sizes-group {
    input {
      &:checked + label {
        color: var(--gray-6);
      }
      &:disabled + label {
        color: var(--gray-7);
        text-decoration: line-through;
      }
    }
    label {
      font-size: 16px;
    }
  }

  &__price-old {
    font-size: 20px;
    color: var(--color-primary-dark);
  }

  &__price-new {
    font-size: 36px;
  }
}
