<section class="collab" ari-label="Collaboration">
  <div class="collab__wrapper">
    <div class="collab__signature">
      <img src="./assets/img/signature.webp" alt="Signature of Hiroshi Fujiwara'" />
    </div>
    <h2 class="collab__heading">Hiroshi Fujiwara's Fragment Collaboration with Mike Shoes</h2>
    <blockquote class="collab__text">
      "From musicians to artists to streetwear icons, the Air Force 1 has always been more than a sneaker. Everywhere
      it's gone, it's changed the game. But the past 40 years are behind us, so let's set the stage for the next 40.
      Because Force has always been strongest when we do it together."
      <cite class="collab__text-cite">Hiroshi Fujiwara's, ShoeGeek</cite>
    </blockquote>
  </div>
</section>
