<section class="collab" ari-label="Collaboration">
  <div class="collab__wrapper">
    <div class="collab__signature">
      <img src="./assets/img/signature.png" alt="Signature of Hiroshi Fujiwara'" />
    </div>
    <h2 class="collab__heading">Hiroshi Fujiwara's Fragment Collaboration with Mike Shoes</h2>
    <p class="collab__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa molestiae maiores cum dicta quia, sunt vel
      reprehenderit, dolorem quo dolor eos delectus consectetur inventore animi, repellendus magnam voluptates?
      Adipisci, suscipit!
    </p>
  </div>
</section>
