<footer class="footer">
  <div class="footer__wrapper">
    <nav class="footer__grid" aria-label="footer navigation">
      <div class="footer__grid-item">
        <h3 class="footer__heading">Shop</h3>
        <ul class="footer__list">
          <li><a href="#">Men's</a></li>
          <li><a href="#">Women's</a></li>
          <li><a href="#">Kid's</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Liefstyle</a></li>
        </ul>
      </div>
      <div class="footer__grid-item">
        <h3 class="footer__heading">About</h3>
        <ul class="footer__list">
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Store locator</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer__grid-item">
        <h3 class="footer__heading">Help</h3>
        <ul class="footer__list">
          <li>
            <a href="#"><abbr title="Frequently Asked Questions">FAQ</abbr></a>
          </li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Returns and exchanges</a></li>
          <li><a href="#">Size guide</a></li>
          <li><a href="#">Gift cards</a></li>
        </ul>
      </div>
      <div class="footer__grid-item">
        <h3 class="footer__heading">Follow us</h3>
        <ul class="footer__social">
          <li>
            <a href="#">
              <img src="./assets/icons/facebook.svg" alt="Facebook" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/icons/twitterx.svg" alt="X (Twitter)" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/icons/instagram.svg" alt="Instagram" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./assets/icons/youtube.svg" alt="Youtube" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <p class="footer__copyright">Copyright © Mike Shoes - all rights reserved 2024</p>
  </div>
</footer>
