<header class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <a href="#"><img src="./assets/img/logo.svg" alt="Mike Shoes" /></a>
    </div>
    <nav class="header__navigation">
      <a href="#" class="active" aria-current="page">Mens</a>
      <a href="#">Womens</a>
      <a href="#">Kids</a>
      <a href="#">Sport</a>
      <a href="#">Sale</a>
    </nav>
    <div class="header__meta">
      <button type="button" class="button">Login</button>
      <button type="button" class="button"><img src="./assets/icons/cart.svg" /></button>
    </div>
  </div>
</header>
