<section class="offers" aria-labelledby="other-products">
  <div class="offers__wrapper">
    <h2 class="offers__heading" id="other-products">Other great shoes</h2>
    <p class="offers__text">
      Step into greatness with our diverse range of <strong>sports shoes</strong>, designed for peak performance and
      ultimate comfort. Don't just play the game, dominate it with our superior footwear collection.
    </p>
    <div class="offers__items">
      <article class="offers__item-wrapper" aria-labelledby="item1-heading">
        <a href="#" class="offers__item" aria-labelledby="item1-heading item1-price">
          <div class="offers__item-image">
            <img src="./assets/img/nike-air-max-sideshot.png" alt="" />
          </div>
          <h3 class="offers__item-heading" id="item1-heading">Mike Air Max - Gold Edition</h3>
          <p class="offers__item-text">
            This special edition was designed in year 2008 by John Sinclair <br /><span>(24 left in Stock)</span>
          </p>
          <span class="offers__item-price" id="item1-price">199.- €</span>
        </a>
      </article>
      <article class="offers__item-wrapper" aria-labelledby="item2-heading">
        <a href="#" class="offers__item" aria-labelledby="item2-heading item2-price">
          <div class="offers__item-image">
            <img src="./assets/img/nike-air-jordan-sideshot.png" alt="" />
          </div>
          <h3 class="offers__item-heading" id="item2-heading">Mike Air Jordan</h3>
          <p class="offers__item-text">The classic among shoes <br /><span>(8 left in Stock)</span></p>
          <span class="offers__item-price" id="item2-price">169.- €</span>
        </a>
      </article>
      <article class="offers__item-wrapper" aria-labelledby="item3-heading">
        <a href="#" class="offers__item" aria-labelledby="item3-heading item3-price">
          <div class="offers__item-image">
            <img src="./assets/img/nike-free-airforce-sideshot.png" alt="" />
          </div>
          <h3 class="offers__item-heading" id="item3-heading">Mike Air Max - Pink Edition</h3>
          <p class="offers__item-text">
            Pretty in pink, this special edition was designed for Paris fashion show <br /><span
              >(12 left in Stock)</span
            >
          </p>
          <span class="offers__item-price" id="item3-price">139.- €</span>
        </a>
      </article>
    </div>
  </div>
</section>
<script>
  const offerLinks = document.querySelectorAll(".offers__item");
  offerLinks.forEach((offerLink) => {
    offerLink.addEventListener("click", (event) => {
      text = offerLink.querySelector(".offers__item-heading").textContent;
      alert(`Navigating to ${text} detail page 👟`);
      event.preventDefault();
    });
  });
</script>
