<section class="special" aria-label="Product special">
  <div class="special__wrapper">
    <div class="special__content">
      <h2 class="special__heading">
        Hiroshi Fujiwara's<br />
        x Mike
      </h2>
      <p class="special__text">
        <strong>Have a look:</strong> The overwhelming make-of from Hiroshi Fujiwara's design process of the legendary
        special edition of Mike's first self-lacing basketball shoes.
      </p>
      <div>
        <button
          type="button"
          class="button special__link"
          onclick="javascript: alert('The stunning video 🎥'); return false;"
        >
          Watch the Video
        </button>
      </div>
    </div>
    <div class="special__image">
      <img
        src="./assets/img/nike-mcfly-v2.png"
        alt="Sport shoes designed by Hiroshi Fujiwara in dark blue with golden applications"
      />
    </div>
  </div>
</section>
