<section class="special" aria-label="Product special">
  <div class="special__wrapper">
    <div class="special__content">
      <h2 class="special__heading">
        Hiroshi Fujiwara's<br />
        x Mike
      </h2>
      <p class="special__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
      <div><button type="button" class="button special__link">Watch the Video</button></div>
    </div>
    <div class="special__image">
      <img
        src="./assets/img/nike-air-presto.png"
        alt="Sport shoes designed by Hiroshi Fujiwara in dark blue with golden applications"
      />
    </div>
  </div>
</section>
