<section aria-label="Special offer" class="teaser">
  <div class="teaser__wrapper">
    <div class="teaser__image">
      <img
        src="./assets/img/teaser_shoe-01.webp"
        alt="Sideshot of Mike Air Force ONE in middle grey with a white sole"
      />
    </div>
    <article class="teaser__content" aria-labelledby="heading-air-force-one">
      <h1 class="teaser__heading" id="heading-air-force-one">Mike Air Huarache - Special Edition</h1>
      <p class="teaser__text">
        The legendary must have shoe in a limited special edition. Get it now for the best price!
      </p>
      <div class="teaser__sizes">
        <fieldset>
          <legend class="teaser__sizes-heading" id="heading-sizes">Choose size:</legend>
          <div class="teaser__sizes-group">
            <input type="radio" id="size-36" name="size" value="36" />
            <label for="size-36">36</label>
            <input type="radio" id="size-37" name="size" value="37" />
            <label for="size-37">37</label>
            <input type="radio" id="size-38" name="size" value="38" />
            <label for="size-38">38</label>
            <input type="radio" id="size-39" name="size" value="39" aria-disabled="true" />
            <label for="size-39">39 <span class="-sr-only">not available</span></label>
            <input type="radio" id="size-40" name="size" value="40" />
            <label for="size-40">40</label>
            <input type="radio" id="size-41" name="size" value="41" />
            <label for="size-41">41</label>
          </div>
        </fieldset>
      </div>
      <div class="teaser__price">
        <div class="teaser__price-new" id="price-new"><span class="-sr-only">Reduced price: </span>99.- €</div>
        <s class="teaser__price-old"><span class="-sr-only">Original price: </span>159.- €</s>
      </div>
      <div>
        <button type="button" class="button" id="cart-button" aria-describedby="heading-air-force-one price-new">
          Add to cart
        </button>
        <p role="status" id="teaser-cart-hint" class="-sr-only"></p>
      </div>
    </article>
  </div>
</section>
